<%inherit file="base.html"/>
<%block name="title"> Presence top 5 by date  </%block>
<%block name="content">
    <script src="${url_for('static', filename='/js/parseInterval.js')}"></script>
    <script type="text/javascript" >
        (function($) {
            $(document).ready(function() {
                var loading = $('#loading');
                $.getJSON("${url_for('dates_view')}", function(result) {
                    var dropdown = $("#dropdown_data");
                    $.each(result, function(item) {
                        dropdown.append($("<option />").val(this.date_id).text(this.name));
                    });
                    dropdown.show();
                    loading.hide();
                });
                $('#dropdown_data').change(function() {
                    var selected_user = $("#dropdown_data").val(),
                        chart_div = $('#chart_div');
                    if(selected_user) {
                        loading.show();
                        chart_div.hide();
                        $.getJSON("${url_for('presence_top5_view', date_id='0')[:-2]}/"+selected_user, function(result) {
                            var options = {},
                                formatter;
                            if (result.length) {
                                $.each(result, function(index, value) {
                                    value[1] = parseInterval(value[1]);
                                    value[2] = parseInterval(value[2]);
                                });
                                var data = new google.visualization.DataTable();
                                data.addColumn('string', 'Users');
                                data.addColumn({type: 'datetime', id: 'Start' });
                                data.addColumn({type: 'datetime', id: 'End' });
                                data.addRows(result);
                                options = {
                                    hAxis: {title: 'Top 5 Users'},
                                };
                                formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'});
                                formatter.format(data, 1);
                            } else {
                                chart_div.html("No data loaded");
                            }
                            chart_div.show();
                            loading.hide();
                            var chart = new google.visualization.Timeline(chart_div[0]);
                            chart.draw(data, options);

                        });
                    }
                });
            });
        })(jQuery);
    </script>
</%block>

