<%inherit file="base.html"/>
<%block name="title"> Presence by weekday  </%block>
<%block name="content">
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"], 'language': 'en'});
        (function($) {
            $(document).ready(function() {
                var loading = $('#loading');
                $.getJSON("${url_for('xml_data_view')}", function(result) {
                    var dropdown = $("#dropdown_data");
                    $.each(result, function(item) {
                        avatar[this.user_id] = this.avatar;
                        dropdown.append($("<option />").val(this.user_id).text(this.name));
                    });
                    dropdown.show();
                    loading.hide();
                });
                $('#dropdown_data').change(function() {
                    var selected_user = $("#dropdown_data").val(),
                        image = $('#avatar'),
                        chart_div = $('#chart_div');
                    if(selected_user) {
                        loading.show();
                        image.attr('src', avatar[selected_user]);
                        chart_div.hide();
                        $.getJSON("${url_for('presence_weekday_view', user_id=0)[:-2]}/"+selected_user, function(result) {
                            if (result.length) {
                                var data = google.visualization.arrayToDataTable(result);
                                options = {
                                    hAxis: {title: 'Weekday'}
                                };
                            } else {
                                chart_div.html("No data loaded");
                                options = {};
                            }
                            chart_div.show();
                            loading.hide();
                            var chart = new google.visualization.PieChart(chart_div[0]);
                            chart.draw(data, options);
                        });
                    }
                });
            });
        })(jQuery);
    </script>
</%block>

